doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/controller.css')
    link(rel='stylesheet', href='/stylesheets/bg.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
  body
    div.wrapper
      div.top.text-center.bg-now
        h1.yuuuge= now
        h1 some= nowText
      div.bottom.text-center.bg-next
        h1.yuge.down back
