doctype html
html.fullscreen
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/controller.css')
    link(rel='stylesheet', href='/stylesheets/bg.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='/font-awesome/css/font-awesome.min.css')
    script(src="/angular/angular.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socket-init.js")
  body.fullscreen
    block content
