doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/controller.css')
    link(rel='stylesheet', href='/stylesheets/bg.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socket-init.js")
  body
    div.wrapper
      div.top.text-center.bg-now
        div.spacer
        h1.yuuuge= now
        h1= nowText
      div.bottom.text-center.bg-next
        h1.yuge.down back
