doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bg.css')
    link(rel='stylesheet', href='/stylesheets/spinner.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='/font-awesome/css/font-awesome.min.css')
    script(src='/fittext/fittext.js')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socket-init.js")
  body
    block content
