doctype html
html.fullscreen
  head
    title Loading
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/fontawesome.css')
    link(rel='stylesheet' href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='./stylesheets/controller.css')
  body.fullscreen
    div.fullscreen
      div.col-md-12.text-center.mainbutton.maketable
        div.tbcell
          div.fa.fa-spinner.fa-pulse.fa-4x.fa-fw
          script(src="/socket.io/socket.io.js")
          script.
            var socket = io('//localhost:3000');
            socket.on('delta', function () {
              location.reload();
            });
