doctype html
html.fullscreen
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/../socket.io/socket.io.js")
    script(src="/../javascripts/simpleapp.js")
  body.fullscreen
    block content
