.fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
}

.yuuuge {
  font-size: 1000%;
}

.yuge {
  font-size: 400%;
}

.tbcell {
  display: table-cell;
  vertical-align: middle;
}

.mainbutton {
  height: 75%;
  margin: 0px;
  padding: 0px;
  display: table;
  width: 100%;
}

.subbutton {
  height: 25%;
  margin: 0px;
  padding: 0px;
  display: table;
  width: 100%;
}
